{% extends 'core/main.html' %}

{% block content %}

<form method="GET" action="">
    {{ appointmentFilter.form }}
    <input type="submit" value="Search" class="btn btn-md btn-block btn-primary">
</form>

<div class="row">
    <div class="col-md">
        <h3>MY APPOINTMENTS:</h3>
        <table class="table table-sm">
            <tr>
                <th>Doctor</th>
                <th>Appointment Reason</th>
                <th>Appointment Date</th>
                <th>Appointment Time</th>
                <th>Appointment Status</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            {% for appointment in appointments %}
            <tr>
                <td>{{ appointment.doctor.first_name }} {{ appointment.doctor.last_name }}</td>
                <td>{{ appointment.reason }}</td>
                <td>{{ appointment.date }}</td>
                <td>{{ appointment.time }}</td>
                <td>{{ appointment.status }}</td>
                <td><a href="{% url 'appointment_pdf' appointment.pk %}" class="btn btn-md btn-block btn-primary">Download Appointment PDF</a></td>
                <td><a href="{% url 'updateMyAppointment' appointment.pk %}" class="btn btn-md btn-block btn-primary">Update</a></td>
                <td><a href="{% url 'deleteMyAppointment' appointment.pk %}" class="btn btn-md btn-block btn-danger">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

<hr>
<div class="alert alert-warning" role="alert">
    Please Make Sure To Bring In The Appointment PDF With You During The Visit! And Do Fill Up Your Profile Before Making An Appointment! - Thank You!
</div>

{% endblock content %}
