<br>
<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3 total-appointments">
                <div class="card-header">
                    <h5 class="card-title">Total Appointments</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ appointments_count }}</h3>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3 appointments-completed">
                <div class="card-header">
                    <h5 class="card-title">Appointments Completed</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ appointments_completed }}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3 appointments-pending">
                <div class="card-header">
                    <h5 class="card-title">Appointments Pending</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ appointments_pending }}</h3>
                </div>
            </div>
        </div>
    </div>
</div>